# Ignored folder
assets/
LateX/
__pycache__/
.idea/
oca_pipeline/
drsCodeGuide/
LateX/
GTOProposals/
otherPeoplesScripts/
ppdmodler/build/
ppdmodler/dist/
ppdmodler/ppdmodler.egg-info/
ppdmodler/src/ppdmodler.egg-info/
query/getdata_ESO_Archive.py
observation/

# Ignored files
.DS_Store
*.log
obmaking/*
dataReduction/2021_11_10_MATISSE_DRS_tutorial_JVarga_ver3.pptx

# Files from ignored folder that need to be pushed. If main directory is excluded then files cannot be reincluded
!/obmaking/main.py
!/obmaking/scratch.py
!/obmaking/autoscrapper.py
