# Specific stuff to ignore
# Ignored folder
assets/
LateX/
oca_pipeline/
drsCodeGuide/
GTOProposals/
otherPeoplesScripts/

dataReduction/calib_spec_databases

ppdmodler/build/
ppdmodler/dist/
ppdmodler/ppdmodler.egg-info/
ppdmodler/src/ppdmodler.egg-info/

# Ignored files
dataReduction/avg_oifits.py
dataReduction/mat_reduce_all_drs.py
dataReduction/show_allred.py
dataReduction/intmodlib.py
dataReduction/interferometric_modelling.py
dataReduction/2021_11_10_MATISSE_DRS_tutorial_JVarga_ver3.pptx

query/getdata_ESO_archive.py

observation/P*
observation/obmaking/
observation/manualsEso
observation/phase1/make_asprox.py
observation/phase1/P*
observation/phase2/CALIBRATOR_FIND_1.6
observation/phase2/obs
observation/phase2/MATISSE_create_OB_2.py
observation/phase2/query_CDS.py

# General stuff to ignore
# Ignored folder
__pycache__/
.idea/

# Ignored files
__pycache__
.DS_Store
*.log
